a#tix-coupon-link {
	background: #98986a;
	color: #fff;
	padding: $spacing/2 $spacing;
	text-decoration: none;
}
.tix-column-remaining {
	display: none;
}
#tix-attendees li {
	float: none;
	width: 100%;
}