$color-main: #119966;
$color-sub: #006644;
$color-white: #fff;
$color-whiteoff: #eee;

$color-heading: #515151;
$color-highlight: #bb3311;
$color-border: #c36121;

$color-selection: #fff400;

$color-darkbackground: #222;
$color-lighterbackground: #444;
$color-midbackground: #757575;

$color-background: #f3f3f3;