$font-content: 'Open Sans', sans-serif;
$font-heading: 'old standard tt', serif;
$font-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-pre: "Courier 10 Pitch", Courier, monospace;
$line-height: 1.5;
$font-weight: normal;
$small-print-size: 65%;

$header-one: 4.096;
$header-two: 3.2;
$header-three: 2.56;
$header-four: 2.0;
$header-five: 1.6;
$header-six: 1.25;

$header-smallone: 2.56;
$header-smalltwo: 2.0;
$header-smallthree: 1.6;
$header-smallfour: 1.4;
$header-smallfive: 1.25;
$header-smallsix: 1.2;